@model IEnumerable<PrimerPrograma.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Productos</h1>

<p>
    <a asp-action="Create">Crear nuevo Producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar Producto</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles del Producto</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar Producto</a>
            </td>
        </tr>
}
    </tbody>
</table>
